#button1{
     width: 100px;
     height: 100px;
     position: absolute;
     left: calc(30vw - 50px);
     top: calc(30vh - 5px);
     cursor: pointer;
     background-color: purple;
     color: white;
 }

 #button2{
     width: 100px;
     height: 100px;
     position: absolute;
     left: calc(70vw - 50px);
     top: calc(30vh - 5px);
     cursor: pointer;
     background-color: red;
     color: white;
 }

 #button3{
     width: 100px;
     height: 100px;
     position: absolute;
     left: calc(30vw - 50px);
     top: calc(50vh - 20px);
     cursor: pointer;
     background-color: green;
     color: white;
 }

 #button4{
     width: 100px;
     height: 100px;
     position: absolute;
     left: calc(70vw - 50px);
     top: calc(50vh - 20px);
     cursor: pointer;
     background-color: #00FFFF;
     color: white;
 }

 #button5{
     width: 100px;
     height: 100px;
     position: absolute;
     left: calc(30vw - 50px);
     top: calc(68vh - 20px);
     cursor: pointer;
     background-color: grey;
     color: white;
 }

 #button6{
     width: 100px;
     height: 100px;
     position: absolute;
     left: calc(70vw - 50px);
     top: calc(68vh - 20px);
     cursor: pointer;
     background-color: orange;
     color: white;
 }

             #btnReiniciar{
                 width: 100px;
                 height: 100px;
                 position: absolute;
                 left: calc(50vw - 50px);
                 top: calc(10vh - 20px);
                 cursor: pointer;
             }